[submodule ".registry"]
	path = .registry
	url = https://github.com/pdelias/pdelias.r-universe.dev
	branch = HEAD
[submodule "simOutrank"]
	path = simOutrank
	url = https://github.com/pdelias/simOutrank
[submodule "spectralDEMATEL"]
	path = spectralDEMATEL
	url = https://github.com/pdelias/spectralDEMATEL
